<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.fanzhiwei.zjkfgj.menu.persistence.MenuMapper">
  <select id="getMainMenuList" parameterType="long" resultType="Menu">
    SELECT
    	id,
    	name,
    	image,
    	url,
    	qtip,
    	sort_num,
    	parent_id,
    	description
    FROM t_menu m
    LEFT JOIN t_menu_role mr ON(m.id=mr.menu_id)
	LEFT JOIN t_user_role ur ON(mr.role_id=ur.role_id)
	WHERE ur.user_id=#{userId}
    	AND parent_id is null
    ORDER BY sort_num
  </select>
  
  <select id="getSubMenuList" parameterType="map" resultType="Menu">
    SELECT 
    	id,
    	name,
    	image,
    	url,
    	qtip
    FROM t_menu m
	LEFT JOIN t_menu_role mr ON(m.id=mr.menu_id)
	LEFT JOIN t_user_role ur ON(mr.role_id=ur.role_id)
	WHERE ur.user_id=#{userId}
		AND m.parent_id=#{id}
	ORDER BY sort_num
  </select>
  
  <select id="getMenuList" resultType="Menu">
  	SELECT 
  		id,
  		name
  	FROM t_menu
  </select>
  
  <select id="getMenus" resultType="Menu">
  	SELECT 
  		a.id,
  		a.name,
  		a.url,
  		a.sort_num,
  		a.parent_id,
  		a.description,
        b.name as parent_menu
  	FROM t_menu a 
  	LEFT JOIN t_menu b ON(a.parent_id=b.id)
  </select>
  
  <select id="getParentMenus" resultType="Menu">
  	SELECT 
  		id,
  		name
  	FROM t_menu a 
  	WHERE parent_id is null
  </select>
  
  <select id="getId" resultType="long">
  	SELECT max(id) FROM t_menu
  </select>
  
  <insert id="insertMenu" parameterType="Menu" >
  	INSERT INTO t_menu (id, name, image, url, qtip, sort_num, parent_id, description)
    VALUES (#{id}, #{name}, #{image}, #{url}, #{qtip}, #{sort_num}, #{parent_id}, #{description})
  </insert>
  
  <update id="updateMenu"  parameterType="Menu"> 
	UPDATE t_menu
	<set>
		<if test="name != null">name=#{name},</if>
		<if test="url != null">url=#{url},</if>
		<if test="sort_num != null">sort_num=#{sort_num},</if>
		<if test="description != null">description=#{description},</if>
		<if test="parent_id != null">parent_id=#{parent_id}</if>
	</set>
	WHERE id=#{id} 
  </update>
  
  <delete id="deleteMenu"  parameterType="map">
  	DELETE FROM t_menu WHERE id=#{id}
  </delete>
</mapper>