<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.fanzhiwei.zjkfgj.develop.persistence.DevelopMapper">
  
  <select id="getDevelopList" parameterType="map" resultType="Develop">
    SELECT r.*,a.areaName 
    FROM realestate_develop r
    join area a
    on r.areaId = a.id
    <where>
    	<if test="id != null">
    		r.id = #{id}
    	</if>
    	<if test="recordYearMonth != null">
    		and r.recordYearMonth = #{recordYearMonth}
    	</if>
    	<if test="userId != null">
    		and r.userId = #{userId}
    	</if>
    	<if test="areaId != null">
    		and r.areaId = #{areaId}
    	</if>
    </where>
    order by a.displayOrder
  </select>
  
  <insert id="insertDevelop" parameterType="Develop" >
  	INSERT INTO realestate_develop 
  		(areaId, userId,createTime, recordYearMonth, 
  		investHouse,investBusiness, investOffice, investOther,
  		financialSourcingInland, financialSourcingForeign, financialSourcingSelf,financialSourcingOther,
  		workingAreaHouse, workingAreaBusiness,workingAreaOffice, workingAreaOther, 
  		newAreaHouse,newAreaBusiness, newAreaOffice, newAreaOther,
  		completeAreaHouse, completeAreaBusiness, completeAreaOffice,completeAreaOther, 
  		saledAreaHouse, saledAreaBusiness,saledAreaOffice, saledAreaOther, 
  		incomingHouse,incomingBusiness, incomingOffice, incomingOther,
  		onsaleAreaHouse, onsaleAreaBusiness, onsaleAreaOffice,onsaleAreaOther)
    VALUES 
    	(#{areaId}, #{userId},now(), #{recordYearMonth}, 
  		#{investHouse},#{investBusiness}, #{investOffice}, #{investOther},
  		#{financialSourcingInland}, #{financialSourcingForeign}, #{financialSourcingSelf},#{financialSourcingOther},
  		#{workingAreaHouse}, #{workingAreaBusiness},#{workingAreaOffice}, #{workingAreaOther}, 
  		#{newAreaHouse},#{newAreaBusiness}, #{newAreaOffice}, #{newAreaOther},
  		#{completeAreaHouse}, #{completeAreaBusiness}, #{completeAreaOffice},#{completeAreaOther}, 
  		#{saledAreaHouse}, #{saledAreaBusiness},#{saledAreaOffice}, #{saledAreaOther}, 
  		#{incomingHouse},#{incomingBusiness}, #{incomingOffice}, #{incomingOther},
  		#{onsaleAreaHouse}, #{onsaleAreaBusiness}, #{onsaleAreaOffice},#{onsaleAreaOther})
  </insert>
  
  <update id="updateDevelop"  parameterType="Develop"> 
	UPDATE realestate_develop
	<set> 
		<if test="1 == 1">modifyTime=now(),</if> 
		<if test="userId != null">userId=#{userId},</if> 
		<if test="recordYearMonth != null">recordYearMonth=#{recordYearMonth},</if> 
		<if test="investHouse != null">investHouse=#{investHouse},</if> 
		<if test="investBusiness != null">investBusiness=#{investBusiness},</if> 
		<if test="investOffice != null">investOffice=#{investOffice},</if> 
		<if test="investOther != null">investOther=#{investOther},</if> 
		<if test="financialSourcingInland != null">financialSourcingInland=#{financialSourcingInland},</if> 
		<if test="financialSourcingForeign != null">financialSourcingForeign=#{financialSourcingForeign},</if> 
		<if test="financialSourcingSelf != null">financialSourcingSelf=#{financialSourcingSelf},</if> 
		<if test="financialSourcingOther != null">financialSourcingOther=#{financialSourcingOther},</if> 
		<if test="workingAreaHouse != null">workingAreaHouse=#{workingAreaHouse},</if> 
		<if test="workingAreaBusiness != null">workingAreaBusiness=#{workingAreaBusiness},</if> 
		<if test="workingAreaOffice != null">workingAreaOffice=#{workingAreaOffice},</if> 
		<if test="workingAreaOther != null">workingAreaOther=#{workingAreaOther},</if> 
		<if test="newAreaHouse != null">newAreaHouse=#{newAreaHouse},</if> 
		<if test="newAreaBusiness != null">newAreaBusiness=#{newAreaBusiness},</if> 
		<if test="newAreaOffice != null">newAreaOffice=#{newAreaOffice},</if> 
		<if test="newAreaOther != null">newAreaOther=#{newAreaOther},</if> 
		<if test="completeAreaHouse != null">completeAreaHouse=#{completeAreaHouse},</if> 
		<if test="completeAreaBusiness != null">completeAreaBusiness=#{completeAreaBusiness},</if> 
		<if test="completeAreaOffice != null">completeAreaOffice=#{completeAreaOffice},</if> 
		<if test="completeAreaOther != null">completeAreaOther=#{completeAreaOther},</if> 
		<if test="saledAreaHouse != null">saledAreaHouse=#{saledAreaHouse},</if> 
		<if test="saledAreaBusiness != null">saledAreaBusiness=#{saledAreaBusiness},</if> 
		<if test="saledAreaOffice != null">saledAreaOffice=#{saledAreaOffice},</if> 
		<if test="saledAreaOther != null">saledAreaOther=#{saledAreaOther},</if> 
		<if test="incomingHouse != null">incomingHouse=#{incomingHouse},</if> 
		<if test="incomingBusiness != null">incomingBusiness=#{incomingBusiness},</if> 
		<if test="incomingOffice != null">incomingOffice=#{incomingOffice},</if> 
		<if test="incomingOther != null">incomingOther=#{incomingOther},</if> 
		<if test="onsaleAreaHouse != null">onsaleAreaHouse=#{onsaleAreaHouse},</if> 
		<if test="onsaleAreaBusiness != null">onsaleAreaBusiness=#{onsaleAreaBusiness},</if> 
		<if test="onsaleAreaOffice != null">onsaleAreaOffice=#{onsaleAreaOffice},</if> 
		<if test="onsaleAreaOther != null">onsaleAreaOther=#{onsaleAreaOther}</if> 
	</set>
	WHERE id=#{id} 
  </update>
  
  <delete id="deleteDevelop"  parameterType="map">
  	DELETE FROM realestate_develop WHERE id=#{id}
  </delete>
  
  <select id="getArea" resultType="Area">
  	SELECT 
  		id,
  		areaName,
        displayOrder,
        descriptin
  	FROM area  
  	order by displayOrder
  </select>
  
  <select id="selectDevelopCount1" parameterType="map" resultType="DevelopDTO">
	select 
		SUM(r.`investHouse`) as investHouseSum,
		SUM(r.`investBusiness`) as investBusinessSum,
		SUM(r.`investOffice`) as investOfficeSum,
		SUM(r.`investOther`) as investOtherSum,
		SUM(r.`financialSourcingInland`) as financialSourcingInlandSum,
		SUM(r.`financialSourcingForeign`) as financialSourcingForeignSum,
		SUM(r.`financialSourcingSelf`) as financialSourcingSelfSum,
		SUM(r.`financialSourcingOther`) as financialSourcingOtherSum,
		SUM(r.`workingAreaHouse`) as workingAreaHouseSum,
		SUM(r.`workingAreaBusiness`) as workingAreaBusinessSum,
		SUM(r.`workingAreaOffice`) as workingAreaOfficeSum,
		SUM(r.`workingAreaOther`) as workingAreaOtherSum,
		SUM(r.`newAreaHouse`) as newAreaHouseSum,
		SUM(r.`newAreaBusiness`) as newAreaBusinessSum,
		SUM(r.`newAreaOffice`) as newAreaOfficeSum,
		SUM(r.`newAreaOther`) as newAreaOtherSum,
		SUM(r.`completeAreaHouse`) as completeAreaHouseSum,
		SUM(r.`completeAreaBusiness`) as completeAreaBusinessSum,
		SUM(r.`completeAreaOffice`) as completeAreaOfficeSum,
		SUM(r.`completeAreaOther`) as completeAreaOtherSum,
		SUM(r.`saledAreaHouse`) as saledAreaHouseSum,
		SUM(r.`saledAreaBusiness`) as saledAreaBusinessSum,
		SUM(r.`saledAreaOffice`) as saledAreaOfficeSum,
		SUM(r.`saledAreaOther`) as saledAreaOtherSum,
		SUM(r.`incomingHouse`) as incomingHouseSum,
		SUM(r.`incomingBusiness`) as incomingBusinessSum,
		SUM(r.`incomingOffice`) as incomingOfficeSum,
		SUM(r.`incomingOther`) as incomingOtherSum,
		SUM(r.`onsaleAreaHouse`) as onsaleAreaHouseSum,
		SUM(r.`onsaleAreaBusiness`) as onsaleAreaBusinessSum,
		SUM(r.`onsaleAreaOffice`) as onsaleAreaOfficeSum,
		SUM(r.`onsaleAreaOther`) as onsaleAreaOtherSum
	from
	realestate_develop r
	<![CDATA[
		where r.`recordYearMonth` >= #{startMonth} 
		and r.`recordYearMonth` <= #{endMonth}
	]]>
  </select>
  
  <select id="selectDevelopCount2" parameterType="map" resultType="DevelopDTO2">
	select 0 as id ,'合计' as district,
	SUM(r.`investHouse` + r.`investBusiness` + r.`investOffice` + r.`investOther`) AS sumCount,
	SUM(r.`investHouse`) as investHouseSum, 
	SUM(r.`investBusiness`) as investBusinessSum, 
	SUM(r.`investOffice`) as investOfficeSum, 
	SUM(r.`investOther`) as investOtherSum
	from realestate_develop r 
	<![CDATA[
		where r.`recordYearMonth` >= #{startMonth} 
		and r.`recordYearMonth` <= #{endMonth}
	]]>
	union all (
	select a.id as id,a.areaName as district,
	SUM(r.`investHouse` + r.`investBusiness` + r.`investOffice` + r.`investOther`) AS sumCount,
	SUM(r.`investHouse`) as investHouseSum, 
	SUM(r.`investBusiness`) as investBusinessSum, 
	SUM(r.`investOffice`) as investOfficeSum, 
	SUM(r.`investOther`) as investOtherSum
	from realestate_develop r
	left join area a
	on r.`areaId` = a.id
	<![CDATA[
		where r.`recordYearMonth` >= #{startMonth} 
		and r.`recordYearMonth` <= #{endMonth}
	]]>
	group by r.`areaId`
	order by a.displayOrder)
  </select>
</mapper>