<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.fanzhiwei.zjkfgj.money.persistence.MoneyMapper">

  <select id="getMoneyId" resultType="long">
  	SELECT max(id) FROM t_money
  </select>
  
  <select id="getMoneyListCount" resultType="int">
    SELECT
    	COUNT(1)
    FROM t_money m
    LEFT JOIN t_money_list ml ON(m.id=ml.money_id)
  </select>

  <select id="getMoneyList" resultMap="moneyResult">
    SELECT
    	m.id as money_id,
    	m.operator,
    	m.create_time,
    	m.total,
    	ml.id as money_list_id,
    	ml.name,
    	ml.price
    FROM t_money m
    LEFT JOIN t_money_list ml ON(m.id=ml.money_id)
    LIMIT #{start},#{limit}
  </select>
  
  <resultMap id="moneyResult"  type="Money">
		<id property="id"  column="money_id" />
		<result property="operator" column="operator"/>
		<result property="createTime" column="create_time"/>
		<result property="total" column="total"/>
		<collection property="subList"  ofType="hashmap">
			<id property="id"  column="money_list_id"/>
			<result property="name"  column="name"/>
			<result property="price"  column="price"/>
		</collection>
  </resultMap>
  
  <insert id="insertMoney" parameterType="Money" >
  	INSERT INTO t_money (id,create_time, operator, total)
    VALUES (#{id},#{createTime,jdbcType=TIMESTAMP},#{operator}, #{total})
  </insert>
  
  <insert id="insertMoneyList" parameterType="MoneyList" >
  	INSERT INTO t_money_list (money_id, name, price)
    VALUES (#{moneyId},#{name}, #{price})
  </insert>
  
   <update id="updateMoney"  parameterType="Money"> 
	UPDATE t_money
	<set> 
		<if test="createTime != null">create_time=#{createTime,jdbcType=TIMESTAMP},</if> 
		<if test="operator != null">operator=#{operator},</if>
		<if test="total != null">total=#{total}</if>
	</set>
	WHERE id=#{id}
  </update>
  
  <delete id="deleteMoney"  parameterType="map">
  	DELETE FROM t_money WHERE id=#{id}
  </delete>
  
  <delete id="deleteMoneyList"  parameterType="map">
  	DELETE FROM t_money_list WHERE money_id=#{money_id}
  </delete>
  
</mapper>