<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.fanzhiwei.zjkfgj.district.persistence.DistrictMapper">
  
  <select id="getDistrictListReport1" parameterType="map" resultType="DistrictReport1">
   	select * from `district_report1`
    <where>
    	<if test="id != null">
    		id = #{id}
    	</if>
    	<if test="recordYearMonth != null">
    		and recordYearMonth = #{recordYearMonth}
    	</if>
    	<if test="userId != null">
    		and userId = #{userId}
    	</if>
    </where>
    order by createTime
  </select>
  
  <insert id="insertDistrictReport1" parameterType="DistrictReport1" >
  	INSERT INTO district_report1 
  		( `userId`,
		  `createTime`,
		  `recordYearMonth`,
		  `developerName`,
		  `licenceNo`,
		  `licenceDate`,
		  `projectName`,
		  `location`,
		  `houseNumber`,
		  `houseArea`,
		  `business`,
		  `office`,
		  `other`)
    VALUES 
  		( #{userId},
		  now(),
		  #{recordYearMonth},
		  #{developerName},
		  #{licenceNo},
		  #{licenceDate},
		  #{projectName},
		  #{location},
		  #{houseNumber},
		  #{houseArea},
		  #{business},
		  #{office},
		  #{other})
  </insert>
  
  <update id="updateDistrictReport1"  parameterType="DistrictReport1"> 
	UPDATE district_report1
	<set> 
		<if test="1 == 1">modifyTime=now(),</if> 
		<if test="userId != null">userId=#{userId},</if> 
		<if test="recordYearMonth != null">recordYearMonth=#{recordYearMonth},</if> 
		<if test="developerName != null">developerName=#{developerName},</if> 
		<if test="licenceDate != null">licenceDate=#{licenceDate},</if> 
		<if test="projectName != null">projectName=#{projectName},</if> 
		<if test="location != null">location=#{location},</if> 
		<if test="houseNumber != null">houseNumber=#{houseNumber},</if> 
		<if test="houseArea != null">houseArea=#{houseArea},</if> 
		<if test="business != null">business=#{business},</if> 
		<if test="office != null">office=#{office},</if> 
		<if test="other != null">other=#{other}</if> 
	</set>
	WHERE id=#{id} 
  </update>
  
  <delete id="deleteDistrictReport1"  parameterType="map">
  	DELETE FROM district_report1 WHERE id=#{id}
  </delete>
  
<!-- ************************************************************************************************ -->
  <select id="getDistrictListReport2_5" parameterType="map" resultType="DistrictReport2_5">
   	select * from `district_report2_5` 
    <where>
    	<if test="id != null">
    		id = #{id}
    	</if>
    	<if test="recordYearMonth != null">
    		and recordYearMonth = #{recordYearMonth}
    	</if>
    	<if test="userId != null">
    		and userId = #{userId}
    	</if>
    	<if test="category != null">
    		and category = #{category}
    	</if>
    </where>
    order by createTime
  </select>
  
  <insert id="insertDistrictReport2_5" parameterType="DistrictReport2_5" >
  	INSERT INTO district_report2_5 
  		( `userId`,
		  `createTime`,
		  `recordYearMonth`,
		  `developerName`,
		  `projectName`,
		  `startTime`,
		  `completeTime`,
		  `location`,
		  `houseNumber`,
		  `area`,
		  `totalPrice`,
		  `averagePrice`,
		  `category`)
    VALUES 
  		( #{userId},
		  now(),
		  #{recordYearMonth},
		  #{developerName},
		  #{projectName},
		  #{startTime},
		  #{completeTime},
		  #{location},
		  #{houseNumber},
		  #{area},
		  #{totalPrice},
		  #{averagePrice},
		  #{category})
  </insert>
  
  <update id="updateDistrictReport2_5"  parameterType="DistrictReport2_5"> 
	UPDATE district_report2_5
	<set> 
		<if test="1 == 1">modifyTime=now(),</if> 
		<if test="userId != null">userId=#{userId},</if> 
		<if test="recordYearMonth != null">recordYearMonth=#{recordYearMonth},</if> 
		<if test="developerName != null">developerName=#{developerName},</if> 
		<if test="projectName != null">projectName=#{projectName},</if> 
		<if test="startTime != null">startTime=#{startTime},</if> 
		<if test="completeTime != null">completeTime=#{completeTime},</if> 
		<if test="houseNumber != null">houseNumber=#{houseNumber},</if> 
		<if test="area != null">area=#{area},</if> 
		<if test="totalPrice != null">totalPrice=#{totalPrice},</if> 
		<if test="averagePrice != null">averagePrice=#{averagePrice}</if> 
	</set>
	WHERE id=#{id} 
  </update>
  
  <delete id="deleteDistrictReport2_5"  parameterType="map">
  	DELETE FROM district_report2_5 WHERE id=#{id}
  </delete>
  
<!-- ************************************************************************************************ -->
  <select id="getDistrictListReport6" parameterType="map" resultType="DistrictReport6">
   	select * from `district_report6` 
    <where>
    	<if test="id != null">
    		id = #{id}
    	</if>
    	<if test="recordYearMonth != null">
    		and recordYearMonth = #{recordYearMonth}
    	</if>
    	<if test="userId != null">
    		and userId = #{userId}
    	</if>
    </where>
    order by createTime
  </select>
  
  <insert id="insertDistrictReport6" parameterType="DistrictReport6" >
  	INSERT INTO district_report6 
  		( `userId`,
		  `createTime`,
		  `recordYearMonth`,
		  `firstNumber`,
		  `firstArea`,
		  `secondNumber`,
		  `secondArea`,
		  `threeNumber`,
		  `threeArea`,
		  `fourNumber`,
		  `fourArea`)
    VALUES 
  		( #{userId},
		  now(),
		  #{recordYearMonth},
		  #{firstNumber},
		  #{firstArea},
		  #{secondNumber},
		  #{secondArea},
		  #{threeNumber},
		  #{threeArea},
		  #{fourNumber},
		  #{fourArea})
  </insert>
  
  <update id="updateDistrictReport6"  parameterType="DistrictReport6"> 
	UPDATE district_report6
	<set> 
		<if test="1 == 1">modifyTime=now(),</if> 
		<if test="userId != null">userId=#{userId},</if> 
		<if test="recordYearMonth != null">recordYearMonth=#{recordYearMonth},</if> 
		<if test="firstNumber != null">firstNumber=#{firstNumber},</if> 
		<if test="firstArea != null">firstArea=#{firstArea},</if> 
		<if test="secondNumber != null">secondNumber=#{secondNumber},</if> 
		<if test="secondArea != null">secondArea=#{secondArea},</if> 
		<if test="threeNumber != null">threeNumber=#{threeNumber},</if> 
		<if test="threeArea != null">threeArea=#{threeArea},</if> 
		<if test="fourNumber != null">fourNumber=#{fourNumber},</if> 
		<if test="fourArea != null">fourArea=#{fourArea}</if> 
	</set>
	WHERE id=#{id} 
  </update>
  
  <delete id="deleteDistrictReport6"  parameterType="map">
  	DELETE FROM district_report6 WHERE id=#{id}
  </delete>
  
<!-- ************************************************************************************************ -->
  <select id="getDistrictListReport7" parameterType="map" resultType="DistrictReport7">
   	select * from `district_report7` 
    <where>
    	<if test="id != null">
    		id = #{id}
    	</if>
    	<if test="recordYearMonth != null">
    		and recordYearMonth = #{recordYearMonth}
    	</if>
    	<if test="userId != null">
    		and userId = #{userId}
    	</if>
    </where>
    order by createTime
  </select>
  
  <insert id="insertDistrictReport7" parameterType="DistrictReport7" >
  	INSERT INTO district_report7 
  		( `userId`,
		  `createTime`,
		  `recordYearMonth`,
		  `dealNumber`,
		  `dealArea`,
		  `totalPrice`,
		  `averagePrice`)
    VALUES 
  		( #{userId},
		  now(),
		  #{recordYearMonth},
		  #{dealNumber},
		  #{dealArea},
		  #{totalPrice},
		  #{averagePrice})
  </insert>
  
  <update id="updateDistrictReport7"  parameterType="DistrictReport7"> 
	UPDATE district_report7
	<set> 
		<if test="1 == 1">modifyTime=now(),</if> 
		<if test="userId != null">userId=#{userId},</if> 
		<if test="recordYearMonth != null">recordYearMonth=#{recordYearMonth},</if> 
		<if test="dealNumber != null">dealNumber=#{dealNumber},</if> 
		<if test="dealArea != null">dealArea=#{dealArea},</if> 
		<if test="totalPrice != null">totalPrice=#{totalPrice},</if> 
		<if test="averagePrice != null">averagePrice=#{averagePrice}</if> 
	</set>
	WHERE id=#{id} 
  </update>
  
  <delete id="deleteDistrictReport7"  parameterType="map">
  	DELETE FROM district_report7 WHERE id=#{id}
  </delete>
  
<!-- **********************************************统计sql开始*********************************************** -->
<!-- ************************************************************************************************** -->
  <select id="selectDistrictCount1" parameterType="map" resultType="DistrictSumReportDTO1">
	select '合计' as district,
    count(d.id) as licenceSum,
	SUM(d.`houseNumber`) as houseNumberSum, 
	SUM(d.`houseArea`) as houseAreaSum, 
	SUM(d.`business`) as businessSum, 
	SUM(d.`office`) as officeSum,
    SUM(d.`other`) as otherSum
	from district_report1 d 
		<![CDATA[
			where d.`recordYearMonth` >= #{startMonth} 
			and d.`recordYearMonth` <= #{endMonth}
			and d.licenceNo <> '0'
		]]>
	union all (
	select u.otherName as district,d.licenceSum,d.houseNumberSum,d.houseAreaSum,d.businessSum,d.officeSum,d.otherSum from
	(
		select
        d.userId,
    	count(d.id) as licenceSum,
		SUM(d.`houseNumber`) as houseNumberSum, 
		SUM(d.`houseArea`) as houseAreaSum, 
		SUM(d.`business`) as businessSum, 
		SUM(d.`office`) as officeSum,
    	SUM(d.`other`) as otherSum
		from district_report1 d 
		<![CDATA[
			where d.`recordYearMonth` >= #{startMonth} 
			and d.`recordYearMonth` <= #{endMonth}
			and d.licenceNo <> '0'
		]]>
		group by d.`userId`
	) d
	right join t_user u
	on d.`userId` = u.id
    where u.userType = 2
	order by u.id)
  </select>  
  
<!-- ************************************************************************************************** -->
  <select id="selectDistrictCount2a" parameterType="map" resultType="DistrictSumReportDTO2a">
	select * from (
	    select 
	    SUM(d1.`houseNumber`) as houseNumberSum1,
	    SUM(d1.`area`) as areaSum1, 
	    SUM(d1.`totalPrice`) as totalPriceSum1, 
	    SUM(d1.`averagePrice`) as averagePriceSum1
	    from district_report2_5 d1 
	    <![CDATA[
	            where d1.`recordYearMonth` >= #{startMonth} 
	            and d1.`recordYearMonth` <= #{endMonth}
	    ]]>
	            and d1.`category` = 1) d1
	    join  
	    (select 
	    SUM(d2.`houseNumber`) as houseNumberSum2,
	    SUM(d2.`area`) as areaSum2, 
	    SUM(d2.`totalPrice`) as totalPriceSum2, 
	    SUM(d2.`averagePrice`) as averagePriceSum2
	    from district_report2_5 d2 
	    <![CDATA[
	            where d2.`recordYearMonth` >= #{startMonth}
	            and d2.`recordYearMonth` <= #{endMonth}
	    ]]>
	            and d2.`category` = 2) d2
	    on 1=1
	    join  
	    (select 
	    SUM(d3.`houseNumber`) as houseNumberSum3,
	    SUM(d3.`area`) as areaSum3, 
	    SUM(d3.`totalPrice`) as totalPriceSum3, 
	    SUM(d3.`averagePrice`) as averagePriceSum3
	    from district_report2_5 d3 
	    <![CDATA[
	            where d3.`recordYearMonth` >= #{startMonth}
	            and d3.`recordYearMonth` <= #{endMonth}
	    ]]>
	            and d3.`category` = 3) d3
	    on 1=1
	    join  
	    (select 
	    SUM(d4.`houseNumber`) as houseNumberSum4,
	    SUM(d4.`area`) as areaSum4, 
	    SUM(d4.`totalPrice`) as totalPriceSum4, 
	    SUM(d4.`averagePrice`) as averagePriceSum4
	    from district_report2_5 d4 
	    <![CDATA[
	            where d4.`recordYearMonth` >= #{startMonth}
	            and d4.`recordYearMonth` <= #{endMonth}
	    ]]>
	            and d4.`category` = 4) d4
	    on 1=1
  </select>  
  <select id="selectDistrictCount2b" parameterType="map" resultType="DistrictSumReportDTO2b">
        select 
        d.`userId`,
        SUM(d.`houseNumber`) as houseNumberSum,
        SUM(d.`area`) as areaSum, 
        SUM(d.`totalPrice`) as totalPriceSum, 
        SUM(d.`averagePrice`) as averagePriceSum
        from district_report2_5 d 
  		<![CDATA[
	            where d.`recordYearMonth` >= #{startMonth}
	            and d.`recordYearMonth` <= #{endMonth}
	            and d.`category` = #{category}
	    ]]>
        group by d.`userId`
  </select>  
  <select id="getDistrictUsers" resultType="User">
    SELECT
    	id,
    	name,
    	otherName,
    	userType,
   		password,
    	create_date
    FROM t_user
    WHERE userType = 2
    order by id
  </select> 
<!-- ************************************************************************************************** -->
  <select id="selectDistrictCount3" parameterType="map" resultType="DistrictSumReportDTO3">
	select '合计' as district,
	    SUM(d.`firstNumber` + d.`secondNumber` + d.`threeNumber` + d.`fourNumber`) as totalNumber,
        SUM(d.`firstArea` + d.`secondArea` + d.`threeArea` + d.`fourArea`) as totalArea,
		SUM(d.`firstNumber`) as firstNumberSum, 
		SUM(d.`firstArea`) as firstAreaSum, 
		SUM(d.`secondNumber`) as secondNumberSum, 
		SUM(d.`secondArea`) as secondAreaSum,
		SUM(d.`threeNumber`) as threeNumberSum, 
		SUM(d.`threeArea`) as threeAreaSum, 
		SUM(d.`fourNumber`) as fourNumberSum, 
		SUM(d.`fourArea`) as fourAreaSum
		from district_report6 d 
		<![CDATA[
			where d.`recordYearMonth` >= #{startMonth} 
			and d.`recordYearMonth` <= #{endMonth}
		]]>
		union all (
		select u.otherName as district,d.totalNumber,d.totalArea,d.firstNumberSum,d.firstAreaSum,d.secondNumberSum,d.secondAreaSum,d.threeNumberSum,d.threeAreaSum,d.fourNumberSum,d.fourAreaSum from
	    (
	        select
	        d.userId,
		    SUM(d.`firstNumber` + d.`secondNumber` + d.`threeNumber` + d.`fourNumber`) as totalNumber,
	        SUM(d.`firstArea` + d.`secondArea` + d.`threeArea` + d.`fourArea`) as totalArea,
			SUM(d.`firstNumber`) as firstNumberSum, 
			SUM(d.`firstArea`) as firstAreaSum, 
			SUM(d.`secondNumber`) as secondNumberSum, 
			SUM(d.`secondArea`) as secondAreaSum,
			SUM(d.`threeNumber`) as threeNumberSum, 
			SUM(d.`threeArea`) as threeAreaSum, 
			SUM(d.`fourNumber`) as fourNumberSum, 
			SUM(d.`fourArea`) as fourAreaSum
	        from district_report6 d 
			<![CDATA[
				where d.`recordYearMonth` >= #{startMonth} 
				and d.`recordYearMonth` <= #{endMonth}
			]]>
	        group by d.`userId`
	    ) d
	    right join t_user u
	    on d.`userId` = u.id
	    where u.userType = 2
	    order by u.id)
  </select>  
<!-- ************************************************************************************************** -->
  <select id="selectDistrictCount4" parameterType="map" resultType="DistrictSumReportDTO4">
	select '合计' as district,
		SUM(d.`dealNumber`) as dealNumberSum, 
		SUM(d.`dealArea`) as dealAreaSum, 
		SUM(d.`totalPrice`) as totalPriceSum, 
		SUM(d.`averagePrice`) as averagePriceSum
		from district_report7 d 
		<![CDATA[
			where d.`recordYearMonth` >= #{startMonth} 
			and d.`recordYearMonth` <= #{endMonth}
		]]>
		union all (
		select u.otherName as district,d.dealNumberSum,d.dealAreaSum,d.totalPriceSum,d.averagePriceSum from
	    (
	        select
	        d.userId,
			SUM(d.`dealNumber`) as dealNumberSum, 
			SUM(d.`dealArea`) as dealAreaSum, 
			SUM(d.`totalPrice`) as totalPriceSum, 
			SUM(d.`averagePrice`) as averagePriceSum
            from district_report7 d 
			<![CDATA[
				where d.`recordYearMonth` >= #{startMonth} 
				and d.`recordYearMonth` <= #{endMonth}
			]]>
            group by d.`userId`
        ) d
        right join t_user u
        on d.`userId` = u.id
        where u.userType = 2
        order by u.id)
  </select>    
</mapper>